*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #0f1123, #1e1c2f, #2d273b, #3d3247, #4e3d53);
    background-repeat: no-repeat;
}


header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 0.4fr;
}
header .container-ima-header{
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
header .container-ima-header img{
    margin-left: 25px;
    margin-top: 25px;
    width: 200px;
}

/*-----------------------------*/
header .header--container-perfil{
    margin-right: 20px;
    grid-column: 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}
/*-----------------------------*/
header .header--container-perfil .header--menu--profile{
    margin-top: 25px;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .header--container-perfil .header--menu--profile p{
    margin-left: 15px;
    color: white;
}


/*-----------------------------*/
header .header-option-profile{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-option-profile ul{
    display: none;
    list-style: none;
    text-align: right;

}
/*hover*/
.header--container-perfil:hover ul, ul:hover{
    display: block;
}
header .header-option-profile li a{
    color: white;
    text-decoration: none;
}